*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#details {
    line-height: 32px;
    margin-left: auto; 
    margin-right: auto; 
    left: 36px;
    color: white;
    width: 80%;
    font-family: arial;
    font-size: 17px;
    font-weight: 600;
    border-color: #00297A;
    border-radius: 4px;
    border: 1px solid black;
    border-style: solid;
    background-color: #283342;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.12), 0 5px 4px rgba(0, 0, 0, 0.24);
    display: flex;
    padding: 10px;
    font-family: Calibri;
    
}

#image{
    min-width:fit-content;
    height: auto;
    float:left

}
#cover{
    width:300px;
}
.text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}


#mdet{
    font-family: 'Times New Roman', Times, serif;
   
}
body{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../bg.jpg); 
    background-size: auto;
    background-position: center; 
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}